body{
    margin: 30px;
    padding: 10px 0px 10px 0px;
    border-radius: 20px;
    background-color: bisque;
    display: flex;
    justify-content: center;
}
.topDiv{
    background-color: white;
    width: 500px;
    height: 750px;
    border-radius: 40px;
    font-size: 20px;;
    padding: 0px 20px 0px 20px;
}

p{
    margin: 10px 0px 0px 0px;
}

.pwMessage{
    font-size: 15px;
}

input{
    font-size: 20px;
    margin-top: 10px;
}

input[type="text"], input[type="email"], input[type="password"]{
    width:380px;
}